/*task1*/
#greycol {
  color: gray;
}
.yellow {
  color: yellow;
}
div > div > p {
  color: red;
}
div + h3 + p {
  color: green;
}
h3:first-child {
  color: pink;
}
/*task2*/
.pn:first-child:hover {
  color: rosybrown;
}
.vt:nth-child(-n + 2):focus {
  color: blueviolet;
}
.sr:nth-child(3n):disabled {
  color: yellow;
}
.sr:nth-child(3n):active {
  color: yellow;
}
.pt:last-child :not(.pt){
  color: hotpink;
}
.cht:nth-child(even):link{
  color: greenyellow;
}
